* {
	font-family: 'Be Vietnam Pro', sans-serif;
}

#body {
	background-image: url("https://i.gifer.com/Ym11.gif");
}

.navbar-brand {
	font-family: 'Anton', sans-serif;
	font-family: 'Be Vietnam Pro', sans-serif;
	font-family: 'Bebas Neue', cursive;;
	letter-spacing: 5px;
}

.navbar {
	border-bottom: 1px solid black;
	font-size: 20px;
	font-weight: 5rem;
}

#hi {
	font-family: 'Encode Sans SC', sans-serif;
	letter-spacing: 10px;
	font-size: 50px;
}

#cups {
	padding-top: 2px;
	font-weight: 10px;
	border: 3px solid black;
	background-color: #fffafa;
	font-size: 20px;
}



#heading {
	margin-top: 12px;
	font-family: 'Encode Sans SC', sans-serif;
	font-family: 'Sunshiney', cursive;
	font-size: 50px;
	background-color: #fffafa;
}

#skills {
	border: 3px solid black;
	background-color: #fffafa;
	padding:1rem;
	size: 15rem;
	align-content: space-around;
}

#brewed {
	width: 10rem;
	height: 8rem;

	
}

#footer {
	letter-spacing: 10px;
	padding-top: 80px;
	margin-top: 5%;
	font-size: 12px;
	font-weight: 10px;
}
